<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SimpleScreenshot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <SimpleScreenshot.Properties.Settings>
            <setting name="HotKey_Ctrl" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HotKey_Shift" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HotKey_Alt" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HotKey_KeyCode" serializeAs="String">
                <value>S</value>
            </setting>
            <setting name="HotKey_KeyValue" serializeAs="String">
                <value>83</value>
            </setting>
        </SimpleScreenshot.Properties.Settings>
    </userSettings>
</configuration>